name: Deploy T-Blog to GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch: # 允许手动触发此工作流

permissions:
  contents: write # 允许访问仓库内容，用于部署到 GitHub Pages
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # 使用最新的 Ubuntu 虚拟机运行此任务

    steps:
      - name: Checkout repository # 步骤1: 检出代码
        uses: actions/checkout@v4

      - name: Install dependencies # 步骤2: 安装依赖
        run: npm install

      - name: Build project # 步骤3: 构建前端项目
        run: npm run build
      
      - name: Create wechat check file # 步骤4: 添加微信验证文件
        run: |
          mkdir -p public
          echo "83a4fc182a81622c42e37b48f5257ac9b9fdf23d" > public/65f53479d2f4b0ba241ff3737a29eebe.txt

      - name: Deploy to GitHub Pages # 步骤5: 部署到 GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4 # 使用 peaceiris/actions-gh-pages Action
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # 这是一个由 GitHub 自动提供的 Token
          branch: gh-pages
          folder: ./public # 指定要部署的文件夹
